<div class="container p-5">
    <table>
    <tr>
    <td> 
    <img src="../../assets/to-do-list.jpg"> 
    </td>
    <td> 
    <ul >
    <li ><span class="text-primary">To-do list is a simple list of tasks that allows you to visually see what you need to accomplish</span></li> 
    <li><span class="text-primary">It’s all in one place for easy reference</span></li> 
    <li><span class="text-primary">Grows and shortens as you work through items</span></li> 
    <li><span class="text-primary">Reduce stress by prioritizing tasks</span></li> 
    <li><span class="text-primary">Remind yourself of what’s important and what needs to get done</span></li> 
    </ul> 
    </td>
    </tr>
    </table>
    